.video-suggestions{
    display: grid;
    grid-row: span 2;
}

.up-next-video{
    display: flex;
    margin-bottom: 6px;
    position: relative;
}

.watch-later-div,
.add-to-queue-div{
    background-color: black;
    padding: 2px 4px;
    border-radius: 4px;
    margin-right: 4px;
    margin-top: 2px;
    right: 0;
    position: absolute;
    opacity: 0;
}

.watch-later-div{
    top: 5px;
}

.add-to-queue-div{
    top: 36px;
}

.watch-later-image,
.add-to-queue-image{
    width: 18px;
}

.up-next-video-image-time-div{
    position: relative;
}

.up-next-video-info{
    margin-left: 8px;
}

.up-next-video-title{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 6px;
}

.up-next-video-author{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgb(95, 93, 93);
    margin-bottom:3px;
    margin-top: 8px;
}

.verified-music-div{
    position: relative;
}
 
.verified-music{
    padding-left: 5px;
    margin-top: 2px;
    height: 12px;
}

.offical-artist-channel{
    padding: 7px 8px;
    background-color: grey;
    color: white;
    bottom: 20px;
    right: -50px;
    width: 120px;
    border-radius: 4px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.15s;
}

.up-next-video-views-div{
    display: flex;
}

.views-count,
.posted{
    padding: 4px 4px 4px 0px;
}

.up-next-video-views{
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin-top: -2px;
    font-size: 12px;
    color: rgb(95, 93, 93);
}

.video-suggestions-settings{
    opacity: 0;
}

.up-next-video:hover .video-suggestions-settings,
.up-next-video:hover .watch-later-div,
.up-next-video:hover .add-to-queue-div
{
    opacity: 1;
    transition: all 0.15s;
}

.middle-dot{
    font-size: 18px;
    margin-right: 4px;
}

.up-next-video-image{
    height: 96px;
    border-radius: 8px;
}


.up-next-video-time{
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    background-color: black;
    padding: 3px 6px;
    margin-bottom: 8px;
    margin-right: 4px;
    border-radius: 6px;
}

.verified-music-div:hover .offical-artist-channel{
    opacity: 1;
}